@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Open+Sans&display=swap');

@font-face {
	font-family: 'AATri';
	font-style: normal;
	font-weight: normal;
	src: url('./assets/AATriSerifCZ.otf');
}

html,
body {
	max-width: 100%;
	overflow-x: none;
	background-color: white;
}

body {
	font-family: 'Open Sans', sans-serif;
}

main {
	margin: 10px;
}

*:focus {
	outline: none;
}

.text {
	background-image: url('./assets/textboxbg.png');
	color: white;
	line-height: 1.5;
	padding: 1em 0 1em 0.5em;
	width: 20em;
	height: 4.5em;
	border-radius: 0.25em;
	white-space: pre;
	margin: 0;
}

textarea {
	resize: none;
	font-family: 'IBM Plex Mono', monospace;
	font-size: 20px;
	border: 2px solid #dee2e6;
	overflow: hidden;
}

textarea:focus {
	border-color: lightblue;
}

.container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin: 15px 0 15px 0;
	grid-gap: 10vw;
}

.centredContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.previewContainer {
	align-items: flex-start;
}

.textareaContainer {
	align-items: flex-end;
}

.downloadButton {
	display: inline;
	float: right;
}

.optionContainer {
	background-image: url('./assets/select_button.png');
}

button {
	cursor: pointer;
	font-family: inherit;
	font-size: 20px;
	border: none;
	border-radius: 0.25rem;
	padding: 0.5rem 1rem;
	transition: background-color 0.15s ease-in-out;
}

.green {
	color: #10e610;
}

.blue {
	color: #75beeb;
}

.orange {
	color: #ed0d19;
}
